<?xml version="1.0"?>
<launch>
	<arg name="topic"  	    default="/lwr/ee_pose /lwr/ee_vel /lwr/joint_states  /tf"/>
	<arg name="path_save"   default="/home/nbfigueroa/kinesthetic_recordings/test/bags"/>	
	<arg name="file_name"  	default="demo_x"/>

    <include file="$(find record_ros)/launch/record_ros.launch">
			<arg name="path_save"   value="$(arg path_save)"/>
			<arg name="topic"  	value="$(arg topic)"/>
			<arg name="file_name"  	value="$(arg file_name)"/>
    </include>

</launch>
